<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <% if(locals.text) { %> 
      <%- include("pages/quotes.ejs") %> 
    <% } else { %>
      <%- include("pages/button.ejs") %> 
    <% } %>
  </body>
  <%- include("partials/scripts.ejs") %>
</html>
